<h1>Stupid Coaching</h1>

<i><%= link_to "Ask questions to the coach", ask_path %></i>

<br>
<br>


<strong><%= @question %></strong>
<p><i>- You</i></p>

<strong><%= @answer %></strong>
<p><i>- Your coach</i></p>
