<h1>Stupid Coaching</h1>

<p><i><%= link_to "Ask your coach anything", ask_path %></i></p>


<br>
<br>


<strong><%= @question %></strong>
<p><i>- You</i></p>

<strong><%= @answer %></strong>
<p><i>- Your coach</i></p>
